<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        {% if stylists is not empty%}
            {% for stylist in stylists %}
            <div class="stylist">
                <a href="/stylist/{{stylist.id}}"><h3>{{stylist.name}}</3></a>
                <p>{{stylist.date_began}}</p>
                <p>{{stylist.specialty}}</p>
                <form class="" action="/delete/{{stylist.id}}" method="post">
                    <button type="submit" name="button">Delete Stylist</button>
                </form>
                <p>Edit This Stylists Information:</p>
                <form class="" action="/{{stylist.id}}/edit/" method="post">
                    <p>Edit Stylist Info:</p>
                    <input name="person" type="hidden" value="{{stylist.id}}">
                    <input name="_method" type="hidden" value="patch">
                    <input type="hidden" name="stylist_id" value={{stylist.id}}>
                    <label for="">Change Stylist Name:</label>
                    <input type="text" name="name" value="{{stylist.name}}">
                    <label for="">Change Date of Beginnig of Employment Date:</label>
                    <input type="text" name="date_began" value="{{stylist.date_began}}">
                    <label for="">Change Next Appointment:</label>
                    <input type="text" name="specialty" value="{{stylist.specialty}}">
                    <button type="submit" name="button">Submit</button>
                </form>
            </div>

            {% endfor %}
        {% endif %}
        <form class="" action="/" method="post">
            <label for="">Enter A New Stylist</label>
            <input type="text" name="name" value="">
            <label for="">Date Began</label>
            <input type="text" name="date_began" value="">
            <label for="">Specialty</label>
            <input type="text" name="specialty" value="">
            <button type="submit" name="button">Submit</button>
        </form>
    </body>
</html>
